<section class="s-autres-tableaux">
  <div class="s-autres-tableaux__container container">
    <div class="s-autres-tableaux__row row">
      <div class="s-autres-tableaux__col s-autres-tableaux__col--figure col-12 col-md-4 d-flex align-items-center justify-content-center">
        <figure>
          <img src="<%= typeof pathDepth != 'undefined' ? pathDepth : './..' %>/images/autres-tableaux-visuel-01.png" class="img-fluid" alt="">
        </figure>
      </div>
      <div class="s-autres-tableaux__col s-autres-tableaux__col--article col-12 col-md-8 d-flex align-items-center">
        <article>
          <h2 class="h1"><strong>D'autres tableaux de bord à venir</strong></h2>
          <p>
            Découvrez ci-dessous les autres tableaux de bord sur lesquels nous travaillons et donnez-nous votre avis sur leur pertinence.
          </p>
          <p class="s-autres-tableaux__col__cta">
            <a href="../tableaux-de-bord/donner-votre-avis/" rel="noopener" class="btn btn-lg btn-primary btn-ico">
              <span>Donner votre avis</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"/>
              </svg>
            </a>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
