<header role="banner" id="header">
  <section class="s-header">
    <div class="s-header__container container">
      <div class="s-header__row row">
        <div class="s-header__col s-header__col--logo-ministere col-auto d-flex align-items-center pr-0">
          <a href="#top" class="s-header__logo-ministere"><img src="<%= typeof pathDepth != 'undefined' ? pathDepth : './..' %>/images/logo-republique-francaise.svg" alt="Rébublique Française"></a>
        </div>
        <div class="s-header__col s-header__col--logo-service col-auto d-flex align-items-center pl-0">
          <a href="/"><img src="<%= typeof pathDepth != 'undefined' ? pathDepth : './..' %>/images/logo-pilotage-inclusion.svg " alt="Le piloatage de l'inclusion"></a>
        </div>
        <div class="s-header__col s-header__col--nav col d-none d-xl-inline-flex d-xl-flex align-items-center justify-content-end">
          <nav role="navigation" id="nav-primary" aria-label="Navigation principale">
            <ul>
              <li>
                <a href="https://documentation.inclusion.beta.gouv.fr/aide/pilotage/" class="btn btn-link" rel="noopener" target="_blank" aria-label="Aide et assistance du pilotage de l'inclusion'">
                  Besoin d'aide ?
                </a>
              </li>
              <li>
                <a href="/inscription-newsletter" class="btn btn-outline-primary">Infolettre</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="s-header__col s-header__col--burger col d-flex align-items-center justify-content-end d-xl-none" data-toggle="burger">
          <i class="ri-menu-line" id="open" role="button" tabindex="0" aria-label="Ouverture du menu de navigation principale pour mobile"></i>
          <i class="ri-close-line" id="close" role="button" tabindex="0" aria-label="Fermeture du menu de navigation principale pour mobile"></i>
        </div>
        <div id="burgerNav">
          <nav role="navigation" aria-label="Navigation principale pour mobile">
            <ul>
              <li>
                <a href="https://documentation.inclusion.beta.gouv.fr/aide/pilotage/" class="btn btn-link mh-auto p-0">
                  Besoin d'aide ?
                </a>
              </li>
              <li>
                <a href="/inscription-newsletter" class="btn btn-outline-primary">Infolettre</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="/tableaux-de-bord" rel="noopener" <% if (locals.currentItem === 'tableaux-de-bord' ) { %>class="is-active"<% } %>>Tableaux de bord publics</a>
              </li>
              <li>
                <a href="/tableaux-de-bord-prives" rel="noopener" <% if (locals.currentItem === 'tableaux-de-bord-prives' ) { %>class="is-active"<% } %>>Tableaux de bord privés</a>
              </li>
              <li>
                <a href="https://plateforme-inclusion.notion.site/Actualit-s-du-service-pilotage-de-l-inclusion-bc33815555874210b161063b203639c8?mtm_campaign=Notion-Page-Actualités-accueil&mtm_kwd=Page-Actualités-accueil" rel="noopener" target="_blank" aria-label="Accéder à l'espace de documentation (nouvel onglet)">
                  <span>Actualités</span>
                  <i class="ri-arrow-right-up-line ri-lg"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="s-postheader d-none d-xl-block">
    <div class="s-postheader__container container">
      <div class="s-postheader__row row">
        <div class="s-postheader__col col-12 d-flex align-items-center">
          <nav role="navigation" aria-label="Navigation secondaire">
            <ul>
              <li>
                <a href="/tableaux-de-bord" rel="noopener" <% if (locals.currentItem === 'tableaux-de-bord' ) { %>class="is-active"<% } %>>Tableaux de bord publics</a>
              </li>
              <li>
                <a href="/tableaux-de-bord-prives" rel="noopener" <% if (locals.currentItem === 'tableaux-de-bord-prives' ) { %>class="is-active"<% } %>>Tableaux de bord privés</a>
              </li>
              <li>
                <a href="https://plateforme-inclusion.notion.site/Actualit-s-du-service-pilotage-de-l-inclusion-bc33815555874210b161063b203639c8?mtm_campaign=Notion-Page-Actualités-accueil&mtm_kwd=Page-Actualités-accueil" rel="noopener" target="_blank" aria-label="Accéder à l'espace de documentation (nouvel onglet)">
                  <span>Actualités</span>
                  <i class="ri-arrow-right-up-line"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</header>
