<!DOCTYPE html>
<html lang="fr">

  <head>
    <%- include('./../_partials/head', {pathDepth: '/../' }) %>
  </head>

  <body class="l-experimentation" id="top">

    <%- include('./../_sections/header', {pathDepth: './..', currentItem: 'experimentation'}) %>

    <main class="s-main" role="main">

      <section class="c-breadcrumb c-breadcrumb--pilotage">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="c-breadcrumb c-breadcrumb--pilotage" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Pilotage de l'inclusion</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Expérimentation</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>

      <section class="s-pageintro">
        <div class="s-pageintro__container container">
          <div class="s-pageintro__row row">
            <div class="s-pageintro__col s-pageintro__col--title col-12">
              <h2 class="h1"><strong>Expérimentation <br class="d-none d-lg-inline">reporting IAE</strong></h2>
            </div>
          </div>
        </div>
      </section>

      <section class="s-cms">
        <div class="s-cms__container container">
          <div class="s-cms__row row">
            <div class="s-cms__col col-12 d-flex justify-content-center">
              <article class="s-cms__article">
                <div class="s-cms__article__headings">
                  <p class="s-cms__article__title">Expérimentation sur le département de <br>Seine-Saint-Denis</p>
                </div>
                <div class="s-cms__article__content">
                  <p><strong>Nous démarrons une expérimentation sur le département de Seine-Saint-Denis.</strong></p>
                  <p>Il s'agit, de février à juin 2021, d'étudier la possibilité de mettre en place un outil numérique permettant d'optimiser ou supprimer des reporting IAE existants. L'objectif est de réduire la charge administrative (au niveau de la collecte ou du traitement des données) tout en maintenant (ou améliorant) le niveau d'information pour les destinataires des reporting.</p>
                  <figure>
                    <img src="/../images/experimentation-visuel-01.jpg" class="img-fluid" alt="">
                  </figure>
                  <p>Nous travaillerons de manière étroite avec l'unité départementale de la Direccte, le département et les structures d'insertion par l'activité économique afin de bien comprendre les processus actuels et d'identifier des opportunités d’amélioration. Nous élaborerons ensuite une version beta d'un outil numérique, qui pourra ensuite être déployé dans d'autres départements s'il a montré un impact significatif.</p>
                </div>
                <p class="s-cms__article__cta">
                  <a href="/stats" rel="noopener" class="btn btn-lg btn-primary btn-ico">
                    <span>Suivre notre impact</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"/>
                    </svg>
                  </a>
                </p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-pageoutro">
        <div class="s-pageoutro__container container">
          <div class="s-pageoutro__row row">
            <div class="s-pageoutro__col s-pageoutro__col--title col-12 d-flex justify-content-center">
              <aside>
                <h5 class="h3">💡 Vous avez des retours d'expérience, des idées, des besoins ? <br class="d-none d-lg-inline">N'hésitez pas à les partager sur la communauté de l'inclusion, dans la catégorie dédiée à cette expérimentation</h5>
                <p>
                  <a href="https://communaute.inclusion.beta.gouv.fr/t/experimentation-reporting-iae/2664" rel="noopener" target="_blank" class="btn btn-lg btn-primary btn-ico">
                    <span>Accéder à la communauté</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                      <path fill="currentColor" d="M8.66517015,2.82577407 C8.34562066,3.18534827 8.34130426,3.73389577 8.67429909,4.0990571 L11.359,7.039 L1.46428571,7.03948778 C0.93400271,7.03948778 0.5,7.46464861 0.5,7.99431466 L0.506519822,8.10609811 C0.562491613,8.58254879 0.971880067,8.94914154 1.46428571,8.94914154 L11.354,8.949 L8.64311662,11.8995038 C8.28105469,12.2965343 8.31618249,12.9073498 8.7191121,13.2599671 C9.11604213,13.6073339 9.72177649,13.5739032 10.0771295,13.184224 L14.2544508,8.63732099 L14.3103844,8.56958432 L14.3728703,8.47818478 L14.4352531,8.3399089 L14.4491817,8.28987794 L14.462,8.193 L14.4705425,8.17556014 C14.4890266,8.12237865 14.5,8.06201568 14.5,7.99431466 L14.5,7.84422179 L14.4816817,7.71012206 L14.4677531,7.6600911 L14.4094639,7.52822311 L14.3908925,7.49865936 L14.3296866,7.41519605 L10.1084913,2.81453208 C9.75427649,2.42609678 9.14854213,2.39266615 8.7516121,2.74003295 L8.66517015,2.82577407 Z" transform="rotate(-45 10.56 5.732)"></path>
                    </svg>
                  </a>
                </p>
              </aside>
            </div>
          </div>
        </div>
      </section>

    </main>

    <%- include('./../_sections/footer', {pathDepth: './..'}) %>

    <script src="/../javascripts/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@1.9.3/tarteaucitron.js"></script>
    <script type="text/javascript">
      tarteaucitron.init({
      "privacyUrl": "", /* Privacy policy url */
      "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
      "cookieName": "tarteaucitron", /* Cookie name */
      "orientation": "bottom", /* Banner position (top - bottom) */
      "groupServices": false, /* Group services by category */
      "showAlertSmall": false, /* Show the small banner on bottom right */
      "cookieslist": false, /* Show the cookie list */
      "closePopup": false, /* Show a close X on the banner */
      "showIcon": true, /* Show cookie icon to manage cookies */
      //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
      "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */
      "adblocker": false, /* Show a Warning if an adblocker is detected */
      "DenyAllCta" : true, /* Show the deny all button */
      "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
      "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
      "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
      "removeCredit": true, /* Remove credit link */
      "moreInfoLink": true, /* Show more info link */
      "useExternalCss": true, /* If false, the tarteaucitron.css file will be loaded */
      "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
      //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
      "readmoreLink": "", /* Change the default readmore link */
      "mandatory": true, /* Show a message about mandatory cookies */
      });
    </script>
    <script type="text/javascript">
      tarteaucitron.user.googleFonts = 'families';
      (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
    </script>
  </body>

</html>
