// Itou Theme
@import 'node_modules/itoutheme/src/stylesheets/app';

// Itou Theme Overide
.s-prefooter__gridlist {
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}


// Components

// Sections
@import 'sections/main';
@import 'sections/comprendre';
@import 'sections/reporting';
@import 'sections/services';
@import 'sections/cms';
@import 'sections/pageintro';
@import 'sections/pageoutro';
@import 'sections/embed';
@import 'sections/autres-tableaux';
@import 'sections/tableaux';

// Layout
@import 'layouts/page';

