.l-experimentation,
.l-donner-votre-avis,
.l-accessibilite {
  .s-main {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 250px;
      width: 99px;
      height: 120px;
      background-image: url('../images/tableaux-visuel-01.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateX(150px);

      @include media-breakpoint-up(md) {
        transform: translateX(350px);
      }

      @include media-breakpoint-up(xl) {
        transform: translateX(450px);
      }
    }
  }
}

.l-tableaux-de-bord {
  .s-main {
    position: relative;

    @include media-breakpoint-up(xl) {
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 160px;
        width: 99px;
        height: 120px;
        background-image: url('../images/tableaux-visuel-01.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: translateX(500px);
      }
    }
  }
}

.l-tableaux-de-bord-129 {
  .alert .list-custom {
    li {
      padding-left: 8px;
    }
    li:nth-child(1) {
      list-style-type: '💡';
    }
    li:nth-child(2) {
      list-style-type: '👍';
    }
    li:nth-child(3) {
      list-style-type: '🙌';
    }
  }
}
