.l-experimentation,
.l-donner-votre-avis {
  .c-main {
    position: relative;

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 250px;
        width: 99px;
        height: 120px;
        background-image: url('../images/tableaux-visuel-01.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        right: calc(0% + 10vw);

        @include media-breakpoint-up(lg) {
          right: calc(0% + 20vw);
        }
      }
    }
}

.l-tableaux-de-bord {
  .c-main {
    position: relative;

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 160px;
        width: 99px;
        height: 120px;
        background-image: url('../images/tableaux-visuel-01.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        right: calc(0% + 10vw);

        @include media-breakpoint-up(lg) {
          right: calc(0% + 15vw);
        }
      }
    }
}
