<!DOCTYPE html>
<html lang="fr">

  <head>
    <%- include('./../_partials/head', {pathDepth: '/../' }) %>
  </head>

  <body class="l-tableaux-de-bord" id="top">

    <%- include('./../_sections/header', {pathDepth: './..', currentItem: 'tableaux-de-bord'}) %>

    <main class="s-main" role="main">

     <section class="c-breadcrumb c-breadcrumb--pilotage">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="c-breadcrumb c-breadcrumb--pilotage" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Pilotage de l'inclusion</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Tableaux de bord</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>

      <section class="s-tableaux">
        <div class="s-tableaux__container container">
          <div class="s-tableaux__row row">
            <div class="s-tableaux__col s-tableaux__col--title col-12">
              <h2 class="h1"><strong>Tableaux de bord</strong></h2>
            </div>
            <div class="s-tableaux__col s-tableaux__col--grid col-12">
              <div class="d-flex flex-column justify-content-between position-relative">
                <div>
                  <h3 class="h2"><span>#</span><strong>Recrutement</strong></h3>
                  <p>Où se situent les tensions de recrutement ?</p>
                </div>
                <p class="s-tableaux__col__cta">
                  <a href="/tableaux-de-bord/recrutement" rel="noopener" class="btn btn-lg btn-link btn-ico stretched-link">
                    <span>Voir le tableau de bord</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"/>
                    </svg>
                  </a>
                </p>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <h3 class="h2"><span>#</span><strong>Employeurs</strong></h3>
                  <p>Quelle est la typologie des employeurs inclusifs sur mon territoire ?</p>
                </div>
                <p class="s-tableaux__col__cta">
                  <a href="/tableaux-de-bord/employeurs" rel="noopener" class="btn btn-lg btn-link btn-ico">
                    <span>Voir le tableau de bord</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"/>
                    </svg>
                  </a>
                </p>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <h3 class="h2"><span>#</span><strong>Prescripteurs</strong></h3>
                  <p>Quelle est la typologie des prescripteurs sur mon territoire ?</p>
                </div>
                <p class="s-tableaux__col__cta">
                  <a href="/tableaux-de-bord/prescripteurs" rel="noopener" class="btn btn-lg btn-link btn-ico">
                    <span>Voir le tableau de bord</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"/>
                    </svg>
                  </a>
                </p>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <h3 class="h2"><span>#</span><strong>Critères</strong></h3>
                  <p>Quels critères remplissent les personnes recrutées en autoprescription ?</p>
                </div>
                <p class="s-tableaux__col__cta">
                  <a href="/tableaux-de-bord/criteres" rel="noopener" class="btn btn-lg btn-link btn-ico">
                    <span>Voir le tableau de bord</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"/>
                    </svg>
                  </a>
                </p>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <h3 class="h2"><span>#</span><strong>Métiers</strong></h3>
                  <p>Quels sont les métiers proposés et recherchés depuis fin 2019 ?</p>
                </div>
                <p class="s-tableaux__col__cta">
                  <a href="/tableaux-de-bord/metiers" rel="noopener" class="btn btn-lg btn-link btn-ico">
                    <span>Voir le tableau de bord</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                      <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"/>
                    </svg>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('./../_sections/autres-tableaux', {pathDepth: './..'}) %>

    </main>

    <%- include('./../_sections/footer', {pathDepth: './..'}) %>

    <script src="/../javascripts/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@1.9.3/tarteaucitron.js"></script>
    <script type="text/javascript">
      tarteaucitron.init({
      "privacyUrl": "", /* Privacy policy url */
      "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
      "cookieName": "tarteaucitron", /* Cookie name */
      "orientation": "bottom", /* Banner position (top - bottom) */
      "groupServices": false, /* Group services by category */
      "showAlertSmall": false, /* Show the small banner on bottom right */
      "cookieslist": false, /* Show the cookie list */
      "closePopup": false, /* Show a close X on the banner */
      "showIcon": true, /* Show cookie icon to manage cookies */
      //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
      "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */
      "adblocker": false, /* Show a Warning if an adblocker is detected */
      "DenyAllCta" : true, /* Show the deny all button */
      "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
      "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
      "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
      "removeCredit": true, /* Remove credit link */
      "moreInfoLink": true, /* Show more info link */
      "useExternalCss": true, /* If false, the tarteaucitron.css file will be loaded */
      "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
      //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
      "readmoreLink": "", /* Change the default readmore link */
      "mandatory": true, /* Show a message about mandatory cookies */
      });
    </script>
    <script type="text/javascript">
      tarteaucitron.user.googleFonts = 'families';
      (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
    </script>
  </body>

</html>
