<!DOCTYPE html>
<html lang="fr">

  <head>
    <%- include('./../../_partials/head', {pathDepth: '/../../' }) %>
  </head>

  <body class="l-donner-votre-avis " id="top">

    <%- include('./../../_sections/header', {pathDepth: './../..', currentItem: 'tableaux-de-bord'}) %>

    <main class="s-main" role="main">

      <section class="c-breadcrumb c-breadcrumb--pilotage">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="c-breadcrumb c-breadcrumb--pilotage" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Pilotage de l'inclusion</a></li>
                  <li class="breadcrumb-item"><a href="/tableaux-de-bord">Tableaux de bord</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Donnez votre avis</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>

      <section class="s-pageintro">
        <div class="s-pageintro__container container">
          <div class="s-pageintro__row row">
            <div class="s-pageintro__col s-pageintro__col--title col-12">
              <h1 class="h1-hero"><strong>Donnez-nous votre avis !</strong></h1>
              <p>Découvrez ci-dessous les autres tableaux de bord sur lesquels nous <br class="d-none d-lg-inline">travaillons et donnez-nous votre avis sur leur pertinence.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="s-cms">
        <div class="s-cms__container container">
          <div class="s-cms__row row">
            <div class="s-cms__col col-12 d-flex justify-content-center">
              <article class="s-cms__article">
                <div class="s-cms__article__headings">
                  <p class="s-cms__article__title">Tableaux de bord</p>
                  <p class="s-cms__article__subtitle">Offre d'insertion</p>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Dynamique de créations de SIAE</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999001" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Le volume d'insertion</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999002" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>L'offre d'insertion est-elle à proximité des entreprises qui recrutent ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999003" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-cms">
        <div class="s-cms__container container">
          <div class="s-cms__row row">
            <div class="s-cms__col col-12 d-flex justify-content-center">
              <article class="s-cms__article">
                <div class="s-cms__article__headings">
                  <p class="s-cms__article__title">Tableaux de bord</p>
                  <p class="s-cms__article__subtitle">Orientation et entrée en parcours IAE</p>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quels publics bénéficient de l'IAE ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999006" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Qui sont les candidats qui ne trouvent pas d'emploi sur la Plateforme ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999007" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-cms">
        <div class="s-cms__container container">
          <div class="s-cms__row row">
            <div class="s-cms__col col-12 d-flex justify-content-center">
              <article class="s-cms__article">
                <div class="s-cms__article__headings">
                  <p class="s-cms__article__title">Tableaux de bord</p>
                  <p class="s-cms__article__subtitle">Public en parcours</p>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Combien de personnes sont en parcours IAE et où en est-on de l'objectif de 240.000 personnes par an ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999008" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quelle est la durée d'un parcours en IAE ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999009" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Les personnes sont-elles embauchées successivement dans plusieurs SIAE pendant leur parcours ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999010" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>A quel rythme est employé une personne en insertion ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999011" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Combien de personnes travaillent dans plusieurs SIAE en même temps ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999012" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quels usages des suspensions et prolongations de parcours ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999013" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-cms">
        <div class="s-cms__container container">
          <div class="s-cms__row row">
            <div class="s-cms__col col-12 d-flex justify-content-center">
              <article class="s-cms__article">
                <div class="s-cms__article__headings">
                  <p class="s-cms__article__title">Tableaux de bord</p>
                  <p class="s-cms__article__subtitle">Suites de parcours</p>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quels sont les résultats de l'insertion en termes de retour à l'emploi ? </p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999014" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>La situation de la personne en début de parcours a-t-elle un impact sur sa sortie ? </p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999015" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quels sont les parcours gagnants ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999016" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-cms">
        <div class="s-cms__container container">
          <div class="s-cms__row row">
            <div class="s-cms__col col-12 d-flex justify-content-center">
              <article class="s-cms__article">
                <div class="s-cms__article__headings">
                  <p class="s-cms__article__title">Tableaux de bord</p>
                  <p class="s-cms__article__subtitle">Pilotage budgétaire</p>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quels sont les départements qui sous-consomment ou sur-consomment ? </p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999017" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quel est le réalisé par rapport au budget ? </p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999018" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Combien coûte l'insertion sur un territoire et qui finance ? </p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999019" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quelles sont les dépenses évitées grâce à l'IAE ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999020" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Peut-on calculer un retour sur investissement de l'IAE ? </p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999021" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-cms">
        <div class="s-cms__container container">
          <div class="s-cms__row row">
            <div class="s-cms__col col-12 d-flex justify-content-center">
              <article class="s-cms__article">
                <div class="s-cms__article__headings">
                  <p class="s-cms__article__title">Tableaux de bord</p>
                  <p class="s-cms__article__subtitle">Focus sur un prescripteur</p>
                  <p class="s-cms__article__note">Pour les Direccte (habilitation de prescripteurs locaux), Pôle emploi (suivi par DR, DT ou agence), les conseils départementaux et les Plie (vis-à-vis des structures partenaires) et le prescripteur lui-même</p>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quelles sont les pratiques d'orientation du prescripteur ? </p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999022" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="s-cms">
        <div class="s-cms__container container">
          <div class="s-cms__row row">
            <div class="s-cms__col col-12 d-flex justify-content-center">
              <article class="s-cms__article">
                <div class="s-cms__article__headings">
                  <p class="s-cms__article__title">Tableaux de bord</p>
                  <p class="s-cms__article__subtitle">Focus sur une SIAE</p>
                  <p class="s-cms__article__note">Pour les Direccte, Pôle emploi, les conseils départementaux et la SIAE elle-même</p>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quelles sont les pratiques de recrutement de cette SIAE ? </p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999023" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quelles sont les pratiques d'emploi et d'accompagnement de cette SIAE ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999024" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
                <div class="s-cms__article__btn-group">
                  <p>Quels sont les résultats en termes de sortie en emploi de cette SIAE ?</p>
                  <div class="btn-group btn-group-lg track-click-zapier" data-metabase-name="TB999025" role="group">
                    <button type="button" class="btn btn-outline-primary" data-answer="oui" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Ça m'intéresse</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-answer="non" onclick="return false;">
                      <img src="../../images/picto-check.svg" height="16" alt="">
                      <span>Non, merci</span>
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

    </main>

    <%- include('./../../_sections/footer', {pathDepth: './../..'}) %>

    <%- include('./../../_partials/footer-scripts', {pathDepth: './../..', hasTracking: false }) %>
  </body>

</html>
