.s-autres-tableaux {
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 4);
    padding-bottom: map-get($spacers, 8);
  }

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__col {
    &--article {
      article {
        width: 100%;

        @include media-breakpoint-up(md) {
          max-width: 540px;
        }
      }

      p {
        margin-bottom: map-get($spacers, 4);
        @extend .h3;
        line-height: $line-height-base;
        font-weight: $font-weight-normal;
      }
    }

    &--figure {
      figure {
        @extend .mb-3;

        @include media-breakpoint-up(md) {
          margin-bottom: 0 !important;
          max-width: 250px;
        }
      }
    }

    &__cta {
      @extend .mb-0;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }
  }
}
