.s-embed {
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 6);
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}
