$header-height: 115px;

.s-header {
  background-color: $white;
  box-shadow: $box-shadow-lg;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  + main {
    margin-top: $header-height;
  }

  &.is-opened {
    #burgerNav {
      display: block;
    }

    #close {
      display: inline;
      z-index: 100;
    }

    #burger {
      display: none;
    }
  }

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__row {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__col {
    min-height: $header-height;

    &--logo {

      img {
        height: auto;
        max-width: 130px;

        @include media-breakpoint-up(sm) {
          max-width: 160px;
        }
      }
    }

    &--nav {

      nav {

        > ul {
          @extend .list-inline;
          @extend .list-unstyled;
          @extend .m-0;
          @extend .p-0;
          width: 100%;

          > li {
            @extend .list-inline-item;
            @extend .m-0;
            @extend .p-0;

            &:last-child > a,
            &:last-child > button {
              @extend .mr-0;
            }

            > a,
            > button {
              @extend .mr-3;
            }

            > a:not(.btn) {
              position: relative;
              display: inline-block;
              text-decoration: none;
              @extend .mr-4;
              @extend .ml-3;

              > svg {
                @extend .ml-1;
              }

              &::before {
                content: '';
                position: absolute;
                display: inline-block;
                height: 20px;
                width: 6px;
                top: 2px;
                left: -16px;
                border-radius: 10px;
                background-color: $primary;
              }

              &::after {
                display: block;
                content: '';
                position: absolute;
                left: 0;
                top: calc(#{$header-height} / 2 + 8px);
                height: 5px;
                width: 100%;
                border-radius: 5px 5px 0 0;
                background-color: transparent;
                transition: $transition-base;
              }

              &.is-active {

                &::after {
                  display: block;
                  background-color: $primary;
                }
              }

              &:hover,
              &:focus {

                &::after {
                  background-color: $secondary;
                }
              }
            }
          }
        }
      }
    }

    &--burger {
      span {
        @extend .mr-3;
      }

      #burger {
        display: inline;
      }

      #close {
        display: none;
        z-index: 100;
      }
    }

    &--title {

      span {
        @extend .mb-0;
        @extend .mr-3;
        font-size: $h4-font-size;
      }
    }
  }

  &__logo-ministere {
    transform: translateX(-12px);
  }

  #burgerNav {
    display: none;
    position: fixed;
    z-index: 10;
    top: $header-height;
    right: 0;
    width: 75vw;
    height: calc(100vh - #{$header-height});
    background-color: $white;
    @extend .p-5;
    box-shadow: 0 19px 19px 0 rgba($black, 0.1);

    nav {
      > ul {
        @extend .list-unstyled;
        @extend .m-0;
        width: 100%;

        > li {
          @extend .d-block;
          @extend .m-0;
          @extend .p-0;

          &:last-child > a,
          &:last-child > button {
            @extend .mr-0;
          }

          > a,
          > button {
            @extend .mr-3;
            @extend .mb-3;
            @extend .mt-3;
          }

          > a:not(.btn) {
            position: relative;
            display: inline-block;
            text-decoration: none;
            @extend .mr-4;
            @extend .ml-3;
            transition: $transition-base;

            > svg {
              @extend .ml-1;
            }

            &::before {
              content: '';
              position: absolute;
              display: inline-block;
              height: 20px;
              width: 6px;
              top: 2px;
              left: -16px;
              border-radius: 10px;
              background-color: $primary;
            }

            &::after {
              display: none;
              content: '';
              position: absolute;
              left: 0;
              bottom: - map-get($spacers, 3);
              height: 5px;
              width: 100%;
              border-radius: 5px 5px 0 0;
              background-color: $primary;
            }

            &.is-active {

              &::after {
                display: block;
                background-color: $primary;
              }
            }

            &:hover,
            &:focus {

              &::after {
                display: block;
                background-color: $secondary;
              }
            }
          }
        }
      }
    }
  }

  &--plateforme {

    .s-header__col--nav {
      nav > ul > li > a.is-pilotage {

        &::before {
          background-color: $pilotage;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $pilotage;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $pilotage-light;
          }
        }
      }

      nav > ul > li > a.is-emploi {

        &::before {
          background-color: $emploi;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $emploi;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $emploi-light;
          }
        }
      }

      nav > ul > li > a.is-marche {

        &::before {
          background-color: $marche;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $marche;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $marche-light;
          }
        }
      }

      nav > ul > li > a.is-communaute {

        &::before {
          background-color: $communaute;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $communaute;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $communaute-light;
          }
        }
      }
    }

    #burgerNav {
      nav > ul > li > a.is-pilotage {

        &::before {
          background-color: $pilotage;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $pilotage;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $pilotage-light;
          }
        }
      }

      nav > ul > li > a.is-emploi {

        &::before {
          background-color: $emploi;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $emploi;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $emploi-light;
          }
        }
      }

      nav > ul > li > a.is-marche {

        &::before {
          background-color: $marche;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $marche;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $marche-light;
          }
        }
      }

      nav > ul > li > a.is-communaute {

        &::before {
          background-color: $communaute;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $communaute;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $communaute-light;
          }
        }
      }
    }
  }

  &--pilotage {
    .s-header__col--nav {

      nav > ul > li > a:not(.btn) {

        &::before {
          background-color: $pilotage;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $pilotage;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $pilotage-light;
          }
        }
      }
    }

    #burgerNav {

      nav > ul > li > a:not(.btn) {

        &::before {
          background-color: $pilotage;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $pilotage;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $pilotage-light;
          }
        }
      }
    }
  }

  &--marche {
    .s-header__col--nav {

      nav > ul > li > a:not(.btn) {

        &::before {
          background-color: $marche;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $marche;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $marche-light;
          }
        }
      }
    }

    #burgerNav {

      nav > ul > li > a:not(.btn) {

        &::before {
          background-color: $marche;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $marche;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $marche-light;
          }
        }
      }
    }
  }

  &--emploi {
    .s-header__col--nav {

      nav > ul > li > a:not(.btn) {

        &::before {
          background-color: $emploi;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $emploi;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $emploi-light;
          }
        }
      }
    }

    #burgerNav {

      nav > ul > li > a:not(.btn) {

        &::before {
          background-color: $emploi;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $emploi;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $emploi-light;
          }
        }
      }
    }
  }

  &--communaute {
    .s-header__col--nav {

      nav > ul > li > a:not(.btn) {

        &::before {
          background-color: $communaute;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $communaute;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $communaute-light;
          }
        }
      }
    }

    #burgerNav {

      nav > ul > li > a:not(.btn) {

        &::before {
          background-color: $communaute;
        }

        &.is-active,
        &.is-active:hover,
        &.is-active:focus {

          &::after {
            display: block;
            background-color: $communaute;
          }
        }

        &:hover,
        &:focus {

          &::after {
            display: block;
            background-color: $communaute-light;
          }
        }
      }
    }
  }
}
