.s-pageintro {
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 6);
  }

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__col {
    &--title {
      text-align: center;

      h2 {

        span {
          @extend .mr-2;
          color: $pilotage;
        }
      }

      p {
        @extend .h3;
        @extend .mb-0;
        line-height: $line-height-base;
        font-weight: $font-weight-normal;
      }
    }
  }
}
