.s-pageoutro {
  padding-top: map-get($spacers, 4);
  padding-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 6);
  }

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__col {
    &--title {
      text-align: center;
    }

    aside {
      width: 100%;
      max-width: 700px;
    }
  }
}
