.s-tableaux {
  margin-top: map-get($spacers, 3);
  margin-bottom: map-get($spacers, 5);

  @include media-breakpoint-up(lg) {
    margin-top: map-get($spacers, 6);
    margin-bottom: map-get($spacers, 6);
  }

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__col {

    &--grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: map-get($spacers, 5);

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: map-get($spacers, 5);
        grid-row-gap: map-get($spacers, 5);
      }

      > div {
        @extend .p-3;
        border-radius: $border-radius-lg;
        box-shadow: $box-shadow-lg;
        transition: $transition-base;
        border-bottom: 10px solid $pilotage;
        min-height: 190px;

        &:hover {
          box-shadow: $box-shadow-xl;
        }
      }
    }

    &__cta {
      @extend .mb-0;
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: right;
      }

      a {
        text-decoration: none !important;
      }
    }
  }
}
